body {
  font-family: 'Poppins', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777;
  /* background-color: #ccc; */
  background: url("../images/concrete_seamless.png");
}

* {
  box-sizing: border-box;
}

/* sticky footer styling */

/* https://css-tricks.com/snippets/css/sticky-footer/ */

html,
body {
  height: 100%;
}

.wrapper {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto -105px;
}

footer,
.push {
  height: 105px;
}

/* end sticky footer styling */

/* start hover styling */

/* #logo:hover, */
input[type=submit]:hover {
  color: #000;
  background: #fadeff;
}

nav a:hover {
  color: #000;
  background-color: #fadeff;
}

nav a:hover, a:hover {
  text-decoration: none;
  color: #000;
  background-image: linear-gradient(180deg, #ffbf6b, #ffbf6b);
  background-repeat: no-repeat;
  background-position: 4px bottom;
  background-size: 100% 10px;
}

a {
  text-decoration: none;
  color: #000;
  background-image: linear-gradient(180deg, #fff06b, #fff06b);
  background-repeat: no-repeat;
  background-position: 4px bottom;
  background-size: 100% 10px;
}

.social:hover {
  cursor: pointer;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.noborder, .noborder:hover {
  background:none;
}

.work img:hover {
  cursor: pointer;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

/* end hover styling */

/* general styling */

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  font-family: 'Poppins', Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #000;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #ddd;
}

h2,
h3 {
  font-size: 22px;
}

/* header */

#masthead {
  position: fixed;
  z-index: 99;
  width: 100%;
  margin: 0 0 30px;
  overflow: auto;
  color: #fff;
  background: #fff;
  border-bottom: 2px solid #ccc;
}

#logo {
  float: left;
  width: 250px;
  height: 90px;
  font-family: 'Poppins', Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #000;
  text-align: center;
  text-decoration: none;
  /* background: #000; */
}

nav {
  float: right;
  margin-top: 25px;
}

nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #000;
  text-decoration: none;
  border-left: 1px solid #efefef;
}

nav a:first-child {
  border-left: 0 none;
}

/* footer */

footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background: #000;
  border-top: 8px solid #fadeff;
}

/* sidebar */

.sidebar {
  float: right;
  width: 100%;
  max-width: 270px;
  padding: 30px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ddd;
}

h3,
.sidebar h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
}

.social {
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
}

.social:last-child {
  margin-right: 0;
}

/* main */

#main-container {
  padding-top: 130px;
  /* min-height: calc(100vh - 70px); */
}

.main-section {
  float: left;
  width: 100%;
  max-width: 650px;
  padding: 30px;
  margin: 0 0 40px;
  background: #fff;
  border: 1px solid #ddd;
}

/* portfolio page */

.work {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
  line-height: 25px;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  width: 274px;
  height: 274px;
  border: 0 none;
}

.work h3 {
  position: absolute;
  /* bottom: 20px; */
  bottom: 40px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #000;
  border-bottom: 0;
}

.auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

/* contact page */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}

/* Desktop Width at 980px and below */
@media screen and (max-width: 980px) {

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sidebar {
    float: left;
    max-width: 650px;
  }

}

/* Tablet Width at 768px and below */
@media screen and (max-width: 768px) {

  /* add padding for nav bar doesn't overflow */
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sidebar {
    float: left;
    max-width: 650px;
  }
}

/* Phone Width at 640px and below */
@media screen and (max-width: 640px) {

  .container {
    max-width: 100%;
  }

  .sidebar {
    max-width: 100%;
  }

  /* change to static position */
  #masthead {
    position: static;
  }

  /* make width screen wide */
  #logo,
  #main-container {
    width: 100%;
  }

  .header {
    padding: 0;
    margin: 0 auto;
  }

  #main-container {
    padding: 0;
  }

  /* center nav bar */
  nav {
    float: none;
    text-align: center;
    margin-top: 0;
  }

  /* expand photo to fit screen width and fix margins */
  .auth-image {
    width: 100%;
    margin-bottom: 20px;
  }

  /* expand width to one portfolio item per row */
  .work,
  .work img {
    width: 100%;
    height: 100%;
  }

}